@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-size: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body >.container {
  background-color: hsl(0, 0%, 0%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#home {
  background-image: url(../assets/home/background-home-mobile.jpg);
}
#crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}
#destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
}
#technology {
 background-image: url(../assets/technology/background-technology-mobile.jpg);
}

/* Nav */
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
}
.branding {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 24px;
  top: 24px;
}
nav {
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  width: 254px;
  height: 100%;
  top: 0px;
  right: -600px;

  background: rgba(255, 255, 255, 0.04);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.change {
  right: 0;
  backdrop-filter: blur(40.7742px);
}
.nav-container {
  margin-top: 10rem;
  padding-left: 1rem;
}
.nav-brand {
  padding-bottom: 1.6rem;
}

.nav-links ul {
  padding: 0;
  display: flex;
}
.nav-links li {
  list-style: none;
  cursor: pointer;
  margin: 0 0 3rem;
}
/* #navbar ul li a.active {
  color: ;
} */
.nav-links ul {
  display: flex;
  flex-direction: column;
}
.nav-text {
  color: #fff;
  position: relative;
  text-decoration: none;
}


.hamburger-menu {
  width: 24px;
  height: 28px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #D0D6F9;
  transition: all 0.8s;
}
.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 5px);
  background-color: #D0D6F9 !important;
}
.change .line-2 {
  opacity: 0;
  background-color: #D0D6F9 !important;
}
.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -5px);
  background-color: #D0D6F9 !important;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.title b {
  margin-right: 1rem;
  mix-blend-mode: normal;
  opacity: 0.25;
  font-weight: 700;
}

/* ================ Home Page ====================== */
.front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem 2.5rem 1rem;
  text-align: center;
}
.front .heading1 {
  margin: 2rem 0 .5rem;
}
.front p {
  line-height: 25px;
}
#circle {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 113px;
  top: 469px;
  border-radius: 50%;
  
  background-color: #fff;

  cursor: pointer;
}
#explore {
  position: absolute;
  height: 23px;
  left: 19.67%;
  right: 18.33%;
  top: calc(50% - 23px/2 + 4.5px);

  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.25px;

  color: #0B0D17;
}

/* ====== Destination Page ====== */

.desCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8rem 2rem 1rem;
  text-align: center;
}
.crewDesc > p,
.desDesc > p {
  color: #D0D6F9;
}
.desImg {
  width: 170px;
  height: 170px;
  margin: 3.5rem auto;
}
.desSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 2rem 3rem;
}
.planNav {
  margin: 0 1rem;
  color: #D0D6F9;
}
.planNav:hover {
  color: #fff;
}
.planNav::after {
  content: '';
  width: 90%;
  height: 3px;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
  margin-top: 25px;
}
.planNav::after {
  transform-origin: center;
}
.planNav:hover::after {
  transform: scaleX(1);
}
.desSlider > .active::after {
  transform-origin: initial;
}
.desSlider >.active::after {
  background-color: #fff;
  opacity: 1;
  transform: none;
  transition: none;
}
.desDesc {
  display: flex;
  flex-direction: column;
}
.desDesc > .container {
  display: flex;
  flex-direction: column;
}
.desDesc1, .desDesc2 {
  display: flex;
  flex-direction: column;
}
.desDesc p {
  color: #D0D6F9;
  margin: 0;
}
.desDesc > .line {
  margin: 3rem 0;
  width: 100%;
  height: 1px;
  background: #383B4B;
}
.desDesc > .subheading2 {
  color: #D0D6F9;
}
.units {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5rem;
  
  color: #FFFFFF;  
}
.desDesc br {
  margin: 1.5rem 0;
}

/* ================ Crew Page ====================== */

.crewCont,
.desCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8rem 2rem 1rem;
  text-align: center;
}
.crewImgMob {
  height: 223px;
  width: 327px;
  border-bottom: 1px solid #383B4B;
  margin: 3.5rem 0;
}
.crewImg {
  display: none;
}
.carSliderMob {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.selec {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 .8rem;
  cursor: pointer;

  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
}
.selec:hover {
  opacity: 0.5;
}
.crewCont .active {
  opacity: 1;
}
.crewDesc {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.crewDesc .heading4 {
  margin: 1rem 0;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* ======= Technology Page ====== */
.techCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8rem 0 1rem;
  text-align: center;
}
.techImg {
  width: 100%;
  height: 170px;
  margin: 3.5rem auto;
}
.techSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 2rem 3rem;
}
.techNav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 .8rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 .2rem .2rem;

  background: transparent;
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, .25);
  color: #fff;
}
.techNav:hover {
  border: 1px solid #fff;
}
.techSlider > .active {
  color: #0B0D17;
  background-color: #fff;

}
.techDesc {
  display: flex;
  flex-direction: column;
}
.techDesc > .subheading2 {
  color: #D0D6F9;
}
.techDesc p {
  color: #D0D6F9;
  margin: 1rem 2rem;
}


/* ======= FOOTER ====== */
footer {
  position: fixed;
  bottom: 0;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .heading1 {
    font-family: 'Bellefair', serif;
    font-size: 8rem;
  }
  .heading2 {
    font-family: 'Bellefair', serif;
    font-size: 5.6rem;
  }
  .heading3 {
    font-family: 'Bellefair', serif;
    font-size: 2.4rem;
  }
  .heading4 {
    font-family: 'Bellefair', serif;
    font-size: 1.6rem;
  }
  .heading5 {
    font-family: 'Barlow Condensed', serif;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    line-height: 32px;
    
  }
  .subheading1 {
    font-family: 'Bellefair', serif;
    font-size: 1.6rem;
  }
  .subheading2 {
    font-family: 'Barlow Condenesed', serif;
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    line-height: 17px;
  }
  .nav-text {
    font-family: 'Barlow Condensed', serif;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  p {   
    font-size: 1.5rem;
    line-height: 25px;
  }

  .title {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FFFFFF;
  }

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

  /* ============== font ============ */
  .heading1 {
    font-family: 'Bellefair', serif;
    font-size: 15rem;
  }
  .heading2 {
    font-family: 'Bellefair', serif;
    font-size: 10rem;
  }
  .heading3 {
    font-family: 'Bellefair', serif;
    font-size: 4rem;
  }
  .heading4 {
    font-family: 'Bellefair', serif;
    font-size: 2.4rem;
  }
  .heading5 {
    font-family: 'Bellefair', serif;
    font-size: 2.8 rem;
    letter-spacing: 4.75px;
  }
  .subheading1 {
    font-family: 'Bellefair', serif;
    font-size: 2rem;
  }
  .subheading2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2.35px;
  }
  .nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  p {   
    font-size: 1.5rem;
    line-height: 32px;
  }

  .branding {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 39px;
    top: 24px;
  }

  nav {
    width: 450px;
    height: 96px;
    right: 0;
    transition: none;
    justify-content: center;
  }
  .nav-container {
    margin-top: 0;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-links > ul {
    flex-direction: row;
  }
  .nav-links li {
    margin: 0 1rem;
  }
  .nav-links b {
    display: none;
  }
  .nav-links .nav-text::after {
    content: "";
    width: 75%;
    height: 3px;
    background-color: #eee;
    position: absolute;
    left: 13px;
    bottom: -37px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
  }
  /* nav active state highlighted */
  .nav-links .nav-text:hover::after {
    transform: scaleX(1);
  }
  .nav-links .active::after {
    transform: none;
  }

  /* background */
  #home {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
  #crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  #destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
  #technology {
   background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .title {
    font-size: 2rem;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 3.375px;
    margin: 5rem 0 5rem 1.5rem;
    text-align: left;
  }

  /* ========= HOME PAGE ============= */

  .front {
    margin: 20rem 20rem 1rem;
  }
  #circle {
    width: 242px;
    height: 242px;
    left: 263px;
    top: 692px;
  }
  #explore {
    position: absolute;
    height: 37px;
    left: 19.01%;
    right: 19.83%;
    top: calc(50% - 37px/2 + 0.5px);

    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    letter-spacing: 2px;
  }

  /* ========= DESTINATION PAGE ============= */

  .desImg {
    width: 300px;
    height: 300px;
  }
  .desDesc {
    margin: 0 8rem;
  }
  .desDesc .container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8rem;
  }
  
  /* ========= CREW PAGE ============= */
  .crewCont,
  .desCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8rem 2rem 1rem;
    text-align: center;
  }
  .crewDesc > p,
  .desDesc > p {
    color: #D0D6F9;
    margin: 2rem 12rem;
  }
  .crewImg {
    position: absolute;
    display: initial;
    width: 456.37px;
    height: 532px;
    left: 50%;
    margin-left: -25%;
    bottom: 0;
  }
  .crewImgMob {
    display: none;
  }
  .carSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .carSliderMob {
    display: none;
  }

    /* ========= Destination PAGE ============= */
    .desCont {
      margin: 8rem 2rem 0;
    }
    .desDesc {
      margin-bottom: 5rem;
    }
    .desCont .title {
      margin: 5rem 0 2rem 1.5rem;
    }


    /* ========= TECH PAGE ============= */

  .techCont .title {
    margin-left: 5rem;
  }
  .techImg {
    height: 310px;
  }
  .techImg img {
    width: 100%;
  }
  .techNav {
    width: 60px;
    height: 60px;
    font-size: 2.4rem;
  }
  .techDesc {
    margin: 0 15rem;
  }
  .techDesc .units {
    font-size: 4rem;
  }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  /* ============== font ============ */
  .heading1 {
    font-family: 'Bellefair', serif;
    font-size: 15rem;
  }
  .heading2 {
    font-family: 'Bellefair', serif;
    font-size: 10rem;
  }
  .heading3 {
    font-family: 'Bellefair', serif;
    font-size: 5.6rem;
  }
  .heading4 {
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
  }
  .heading5 {
    font-family: 'Bellefair', serif;
    font-size: 2.8 rem;
    letter-spacing: 4.75px;
  }
  .subheading1 {
    font-family: 'Bellefair', serif;
    font-size: 2.8rem;
  }
  .subheading2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2.35px;
  }
  .nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  p {   
    font-size: 1.5rem;
    line-height: 32px;
  }

    /* background */
    #home {
      background-image: url(../assets/home/background-home-desktop.jpg);
    }
    #crew {
      background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
    #destination {
      background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
    #technology {
     background-image: url(../assets/technology/background-technology-desktop.jpg);
    }  
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 